{{- if .Values.frontend.enabled | default true }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "todo-chat-bot.fullname" . }}-frontend
  labels:
    {{- include "todo-chat-bot.labels" . | nindent 4 }}
    app: frontend
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "todo-chat-bot.selectorLabels" . | nindent 4 }}
    app: frontend
{{- end }}

{{- if .Values.backend.enabled | default true }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "todo-chat-bot.fullname" . }}-backend
  labels:
    {{- include "todo-chat-bot.labels" . | nindent 4 }}
    app: backend
spec:
  type: {{ .Values.backend.service.type }}
  ports:
    - port: {{ .Values.backend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "todo-chat-bot.selectorLabels" . | nindent 4 }}
    app: backend
{{- end }}
